[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Obj/
UserSettings/

# VS / Rider
.vs/
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.suo
*.userprefs
.idea/
*.tmproj

# OS
.DS_Store
Thumbs.db

# Crashlytics / etc
*.apk
*.aab
